@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid";

/* layout highlighter */
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

@media (max-width: 1200px) {
  .cottage-photo,
  .cafe-interior {
    display: none;
  }
}

/* Carte des boissons */

.card-section {
  background-color: #1d3a27;
  color: #fff;
  padding: 52px 15px 30px;
}

.card-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 60px;
}

.hot-drinks-list,
.cold-drinks-list {
  border: solid #fff 1px;
  padding: 0 30px 30px 10px;
  margin-bottom: 45px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin: 15px 0 54px;
}

table td {
  line-height: 32px;
}

.cafe-interior {
  width: 74%;
}

/* Réservations */

.reserved-section {
  background-image: url(../img/pines-forest.png);
  color: #fff;
  padding: 43px 15px 56px;
  text-align: center;
}

@media (min-width: 1200px) {
  .reserved-section {
    padding: 70px 0 140px;
  }
  .reserved-section p {
    font-size: 20px;
  }
  .reservation-title {
    font-size: 55px;
  }
}

.reservation-title {
  font-weight: 400;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 42px;
}

.reserved-section p {
  margin-bottom: 22px;
}

.envy-propose {
  margin: 23px 0 0;
}

.call-to-action {
  color: #fff;
  background: rgba(29, 58, 39, 0.44);
  border: 1px solid #ffffff;
  padding: 8px 20px;
  font-family: "Raleway";
  font-size: 22px;
  margin-top: 40px;
}

.call-to-action:hover {
  background-color: #fff;
  color: rgba(29, 58, 39);
}

@media (min-width: 768px) {
  .call-to-action {
    padding: 10px 120px;
  }
}

@media (min-width: 1200px) {
  .call-to-action {
    padding: 12px 210px 12px 200px;
  }
}
