@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid";

/* layout highlighter */
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.menu-card {
  background-color: green;
}

.hot-drinks-card {
  background-color: rgb(236, 142, 142);
  border: solid 1px #fff;
}

.cold-drinks-card {
  background-color: lightblue;
  border: #fff solid 1px;
}