@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid";

/* layout highlighter */
/*.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
*/

@media (max-width: 1200px) {
  .cottage-photo,
  .cafe-interior {
    display: none;
  }
}

/* font-family: 'Megrim', cursive;
font-family: 'Raleway', sans-serif; */

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

img {
  width: 100%;
}

header {
  background-color: #1d3a27;
  padding: 0px 0 60px;
  background-image: url(../img/intro-forest-.png);
  background-size: cover;
  box-shadow: inset 0 30px 40px 10px rgba(0, 0, 0, 0.85);
}

.menu-button {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

h1 {
  font-family: "Megrim", cursive;
  text-align: center;
  display: block;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 40px;
}

.menu-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px 0 63px 0;
}

@media (min-width: 768px) {
  header {
    box-shadow: inset 0 50px 60px 10px rgba(0, 0, 0, 0.85);
  }
  h1 {
    font-size: 100px;
    font-weight: 400;
    padding: 121px 0 173px;
  }
  .menu-choice {
    padding: 26px;
  }
  .menu-button {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  header {
    box-shadow: inset 0 100px 100px 0 rgba(0, 0, 0, 0.85);
  }
  h1 {
    font-size: 150px;
    font-weight: 400;
    padding: 200px 0 310px;
  }
  .menu-choice {
    padding: 55px;
  }
  .menu-button {
    font-size: 25px;
  }
}

/* Concept description */
.cafe-description {
  margin: 0px 10px;
  font-family: "Raleway";
  font-size: 16px;
  color: #0d400c;
  text-align: center;
  line-height: 26px;
}

.concept-descrp {
  padding: 58px 8px 47px;
}

.forest-path {
  background-image: url(../img/forest-path.webp);
  background-size: cover;
  padding: 120px 120px 200px 120px;
}

@media (min-width: 768px) {
  .concept-descrp {
    font-size: 18px;
    line-height: 26px;
    margin: 70px 0;
  }
  .forest-path {
    padding: 150px 150px 335px 150px;
  }
}

@media (min-width: 1200px) {
  .forest-path {
    display: none;
  }
  .concept {
    background-image: url(../img/forest-path.webp);
    background-size: cover;
    padding: 140px 0 80px;
  }
  .cafe-description {
    color: #fff;
    font-size: 25px;
    line-height: 48px;
  }
  .concept-descrp {
    border: #fff solid 1px;
    padding: 33px 0 33px;
    margin: 100px 0 200px 170px;
    background: rgba(0, 0, 0, 0.3);
  }
}

.cottage-photo {
  width: 35%;
}

/* Carte des boissons */
.card-section {
  background-color: #1d3a27;
  color: #fff;
  padding: 52px 15px 30px;
}

.card-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 60px;
}

.hot-drinks-list,
.cold-drinks-list {
  border: solid #fff 1px;
  padding: 0 30px 30px 10px;
  margin-bottom: 45px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin: 15px 0 54px;
}

table td {
  line-height: 32px;
}

.cafe-interior {
  width: 74%;
  box-shadow: 0 0 40px #000;
}

/* Réservations */
.reserved-section {
  background-image: url(../img/pines-forest.png);
  color: #fff;
  padding: 43px 15px 56px;
  text-align: center;
}

@media (min-width: 1200px) {
  .reserved-section {
    padding: 70px 0 140px;
  }
  .reserved-section p {
    font-size: 20px;
  }
  .reservation-title {
    font-size: 55px;
  }
}

.reservation-title {
  font-weight: 400;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 42px;
}

.reserved-section p {
  margin-bottom: 50px;
}

.envy-propose {
  margin: 23px 0 0;
}

.call-to-action {
  color: #fff;
  background: rgba(29, 58, 39, 0.44);
  border: 1px solid #ffffff;
  padding: 8px 20px;
  font-family: "Raleway";
  font-size: 22px;
  margin-top: 40px;
}

.call-to-action:hover {
  background-color: #fff;
  color: rgba(29, 58, 39);
}

@media (min-width: 768px) {
  .call-to-action {
    padding: 10px 120px;
  }
}

@media (min-width: 1200px) {
  .call-to-action {
    padding: 12px 210px 12px 200px;
  }
}

/* Horaire */
.schedules {
  background-color: #1d3a27;
  color: #fff;
  text-align: center;
  padding: 35px 14px 40px;
}

.schedules-title,
.contacts-title {
  font-weight: 400;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 28px;
}

.schedule-infos {
  font-size: 18px;
  line-height: 33px;
}

@media (min-width: 1200px) {
  .schedules {
    background: rgba(29, 58, 39, 0.25);
    border: #fff solid 1px;
    padding: 55px 0px 94px;
    margin: 120px 5px 230px 215px;
  }
  .schedule-infos {
    font-size: 22px;
    line-height: 45px;
  }
  .card-title,
  .reservation-title,
  .schedules-title {
    font-size: 55px;
  }
}

/* contacts */
.contacts-area {
  background-image: url(../img/dense-forest.webp);
  color: #fff;
  padding: 0 0 15px;
}

.contacts-title {
  font-size: 30px;
  padding-top: 36px;
}

.contacts-idea {
  text-align: center;
  font-size: 22px;
  margin: 20px 0 50px;
}

.contact-link {
  margin-top: 25px;
}

.contact-mail {
  margin: 0 0 68px;
}

@media (min-width: 1200px) {
  .contacts-title {
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
  }
  .contacts-idea {
    font-size: 25px;
    line-height: 40px;
    margin: 180px 0 25px 5px;
  }
}
